body {
  padding: 0;
  margin: 0;
  background-color: #172517ff;
  background: url(background.png);
  background-repeat: repeat;
  background-attachment: fixed;
  text-align: center;
  overflow: visible;
  font-family: "Besley";
  color: #fff3e6;
}

#red {
  color: #471313ff;
}

#top {
  height: 40vw;
  margin-top: -1em;
  padding-left: -2em;
  margin-left: -1em;
  padding-right: -2em;
  margin-right: 0;
  background: url(trees.svg);
  background-size: 100%;
}

h2 {
  padding-top: 1em;
  margin-top: 0;
  font-size: 2em;
  font-family: "Jones";
  font-weight: 500;
  color: #172517ff;
}

h2:hover span {
  color: #471313ff;
}

h1 {
  color: #fff3e6;
  font-size: 12vw;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  font-family: "Besley";
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
}

h3 {
  font-style: italic;
  color: #558855ff;
  font-size: 5em;
  margin-bottom: 0;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

h4 {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding: 0;
  margin: 0.2em;
  margin-left: 20%;
}

h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 4em;
  padding: 0;
  margin: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border-radius: 0.2em;
  padding: 0.6em;
  padding-bottom: 0.5em;
  font-family: "Besley";
  font-weight: 500;
  background-color: #471313ff;
  color: #ffe6e6;
  font-size: 2em;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}

.button:hover {
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
}


#white {
  color: #355635ff;
  width: 60em;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-top: 10em;
  margin-top: -10em;
}

table {
  width: 100%;
  font-size: 2em;
}

th {
  font-size: 1.3em;
  padding-top: 1em;
}

td {
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  text-align: justify;
}

img {
  width: 100%;
}

#Slideshow {
  margin-top: 5em;
  position:relative;
  padding-bottom: 40%;
}

#Slideshow img {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}

p {
  font-size: 1.3em;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
  line-height: 2em;
}

#white p {
  padding-left: 4em;
  padding-right: 4em;
}

#white h3 {
  color: #558855ff;
  padding-bottom: 0;
}

#white a {
  text-decoration: underline;
}

#hover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21.5em;
  background-image: url('oton.svg');
  height: 20em;
}

#hover:hover {
   background-image: url('otoff.svg');
}

h6 {
  font-weight: 200;
  font-family: "joneslight";
  color: #241C1C;
  font-size: 5em;
  margin-top: 0.6em;
  margin-bottom: -0.8em;
}

#roll {
  color: #355635ff;
}

#roll:hover {
    text-decoration: underline;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: "besley";
  color: #ffdab3;
  font-size: 5em;
  width: 99%;
  height: 1.3em;
}

#mono {
  color: #558855ff;
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 16px;
}

.selectable {
  color: #558855ff;
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 16px;
}

.selectable:hover {
  background-color: #273f27;
  cursor: grab;
}
