@font-face {
    font-family: "Bodonivf";
    src: url("Besley[wdth,wght].ttf") format("truetype");
}

@font-face {
    font-family: "Bodonivfitl";
    src: url("Besley-Italic[wdth,wght].ttf") format("truetype");
}

@font-face {
    font-family: "Drafting";
    src: url("../Drafting/Drafting[wght].ttf") format("truetype");
}

.webnotice {
  background-color: yellow;
  color: black;
  font-size: 1em;
  font-family: "Jost";
  padding: 0.5em;
  margin-bottom: 15px;
  margin-top: 0;
}

@supports (font-variation-settings: 'wght' 500) {
  #webnotice {
    visibility: hidden;
    height: 0;
    margin-bottom: -20px;
  }
  #webice {
    visibility: visible;
    height: inherit;
    margin-bottom: -2.5em;
  }
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 3px;
  background: #82b082;
  outline: none;
  position: absolute;
  left: 20%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #82b082;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-track {
    background-color: transparent;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border: solid;
  border-radius: 20px;
  background-color: #82b082;
  border-color: transparent;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  background-color: #172517ff;
  background: url(background.png);
  background-repeat: repeat;
  background-attachment: fixed;
  text-align: center;
  overflow: visible;
  font-family: "Besley";
  color: #fff3e6;
}

#red {
  color: #471313ff;
}

#top {
  height: 40vw;
  margin-top: -1em;
  padding-left: -2em;
  margin-left: -1em;
  padding-right: -2em;
  margin-right: 0;
  background: url(trees.svg);
  background-size: 100%;
}

h2 {
  padding-top: 1em;
  margin-top: 0;
  font-size: 2em;
  font-family: "Jones";
  font-weight: 500;
  color: #172517ff;
}

h2:hover span {
  color: #471313ff;
}

#title {
  color: #fff3e6;
  font-size: 12vw;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  font-family: "Bodonivf";
  font-variation-settings: 'wght' 600;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  color: #558855ff;
  font-size: 6em;
  margin-bottom: 0;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  letter-spacing: -5px;
}

.left {
  width: 950px;
  margin-left: -475px;
  left: 50%;
  text-align: left;
  position: absolute;
  z-index: -1;
}

.right {
  width: 950px;
  margin-left: -475px;
  left: 50%;
  text-align: right;
  position: absolute;
  z-index: -1;
}

h4 {
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.2em;
  margin-left: 20%;
  font-variant-numeric: tabular-nums;
  margin-top: 0.5em;
  margin-bottom: -0.2em;
}

@media only screen and (max-width: 1000px) {
  #title {
    font-size: 19vw;
  }
  .slider {
    width: 90%;
    left: 5%;
  }
  #Slideshow img {
    margin-top: -8em;
  }
  h4 {
    margin-left: 5%;
  }
}

h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 4em;
  padding: 0;
  margin: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border-radius: 0.2em;
  padding: 0.6em;
  padding-bottom: 0.5em;
  font-family: "Besley";
  font-weight: 900;
  background-color: #471313ff;
  color: #ffe6e6;
  font-size: 2em;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
  letter-spacing: 5px;
}

.button:hover {
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
}


#white {
  color: #558855ff;
  width: 950px;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-top: 10em;
  margin-top: -10em;
  font-variant-numeric: oldstyle-nums;
}

@media only screen and (max-width: 1000px) {
  #white {
    width: 90vw;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
}

table {
  width: 100%;
  font-size: 2em;
}

th {
  font-size: 1.3em;
  padding-top: 1em;
}

td {
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  text-align: justify;
}

img {
  width: 100%;
}

#Slideshow {
  margin-top: 5em;
  position:relative;
  padding-bottom: 40%;
}

#Slideshow img {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}

p {
  font-size: 1.3em;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
  line-height: 2em;
}

#white p {
  padding-left: 4em;
  padding-right: 4em;
}

#white h3 {
  color: #558855ff;
  padding-bottom: 0;
}

#white a {
  text-decoration: underline;
}

#hover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21.5em;
  background-image: url('oton.svg');
  height: 20em;
}

#hover:hover {
   background-image: url('otoff.svg');
}

h6 {
  font-weight: 200;
  font-family: "joneslight";
  color: #241C1C;
  font-size: 5em;
  margin-top: 0.6em;
  margin-bottom: -1em;
}

#roll {
  color: #355635ff;
}

#roll:hover {
    text-decoration: underline;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: "besley";
  color: #ffdab3;
  font-size: 5em;
  width: 99%;
  height: 1.3em;
}

#mono {
  color: #558855ff;
  font-family: "Drafting";
  font-weight: 600;
  font-size: 18px;
}

.selectable {
  color: #558855ff;
  font-family: "Drafting";
  font-weight: 600;
  font-size: 18px;
}

.selectable:hover {
  background-color: #273f27;
  cursor: copy;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.15);
}
