@font-face {
    font-family: "Bodonivf";
    src: url("Bodoni-VF.ttf") format("truetype");
}

@font-face {
    font-family: "Bodonivfitl";
    src: url("Bodoni-Italic-VF.ttf") format("truetype");
}

.webnotice {
  background-color: yellow;
  color: black;
  font-size: 1em;
  font-family: "Jost";
  padding: 0.5em;
  margin-bottom: 10px;
  margin-top: 0;
}

@supports (font-variation-settings: 'wght' 500) {
  #webnotice {
    visibility: hidden;
    height: 0;
  }
  #webice {
    visibility: visible;
    height: inherit;
    margin-bottom: -2.5em;
  }
}

.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 1px;
  background: white;
  outline: none;
  position: absolute;
  margin-left: -42.5%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #122541ff;
  cursor: pointer;
  border: solid;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
}

.slider::-moz-range-track {
    background-color: transparent;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border: solid;
  border-radius: 30px;
  background-color: #122541ff;
  border-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
}

body {
  color: #212529;
  text-align: center;
  background-color: #214478ff;
  text-align: center;
  overflow: visible;
  font-family: "Bodoni 06";
  color: #e6e6e6ff;
  max-width: 100%;
  margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

p a span {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

a:hover{
  color: #ff5555ff;
  text-decoration: none;
}

.red {
  color: #ff5555ff;
}

h5 {
  font-family: "Jones";
  color: #122541ff;
  font-size: 2em;
  font-weight: 500;
  margin-top: 0.3em;
}

h5 a {
  border-bottom-style: hidden;
}

h5 a:hover {
  color: inherit;
}

h5 a:hover span {
  color: #ff5555ff;
}

h1 {
  font-family: "Bodonivf";
  font-size: 15vw;
  font-weight: normal;
  margin-top: 4vw;
  margin-bottom: 0.4em;
  font-variation-settings: 'opsz' 06;
  text-rendering: geometricPrecision;
}

h6 {
  font-family: "Bodoni 16";
  font-weight: 900;
  font-style: italic;
  color: #122541ff;
  font-size: 5em;
  margin-top: -10%;
  padding-top: 1em;
  margin-bottom: 2em;
}

.button {
  background-color: #122541ff;
  padding: 10px;
  padding-bottom: 12px;
  font-size: 1.5em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  font-family: "Bodoni 11";
  letter-spacing: 1px;
  font-weight: 900;
  width: 170px;
  margin: auto;
}

.button:hover {
  background-color: #ff5555ff;
}

a:hover .button {
  color: #e6e6e6ff;
}

h2 {
  font-family: "Bodoni 24";
  font-size: 8em;
  font-weight: 900;
  color: #122541ff;
  margin-bottom: 0;
}

#Slideshow {
  margin-top: 7em;
  position:relative;
  padding-bottom: 35%;
}

#Slideshow img {
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}

.img {
  height: 10em;
  margin-left: -30em;
  margin-right: -30em;
}

#smallimg {
  visibility: hidden;
  height: 0;
}

@media only screen and (max-width: 1500px) {
  #smallimg {
    visibility: visible;
    height: 10em;
  }
  #bigimg {
    visibility: hidden;
    height: 0;
  }
}

p {
  width: 800px;
  font-size: 1.3em;
  line-height: 1.75em;
  text-align: left;
  margin: 0 auto;
}

p b {
}

textarea {
  white-space: normal;
  width: 800px;
  font-size: 1.3em;
  line-height: 1.75em;
  text-align: left;
  margin: 0 auto;
  margin: 0 auto;
  border: 0;
  font-family: "Bodoni 06";
  color: inherit;
  background-color: inherit;
  resize: none;
  height: 9em;
}

#disweight {
  padding-top: 6vw;
  font-size: 40px;
  margin-bottom: 10px;
}

#disitalic {
  padding-top: 6vw;
  font-size: 40px;
  font-family: "Josttab";
  margin-bottom: 2px;
}

#mono {
  color: #5f8dd3ff;
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 16px;
}

.selectable {
  color: #5f8dd3ff;
  font-family: "Roboto Mono";
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.selectable:hover {
  background-color: #122541ff;
  cursor: copy;
}

h4 {
  color: white;
  font-family: "Bodoni 06";
  font-size: 1.3em;
  text-align: left;
  font-weight: 400;
  padding-left: 7.5%;
  margin-bottom: 1em;
  margin-top: 3em;
  font-variant-numeric: tabular-nums;
}

h3 {
  font-weight: 200;
  font-family: "Jones";
  color: #ff5555ff;
  font-size: 5em;
  margin-top: 0.6em;
  margin-bottom: -0.8em;
}
