body {
  background-color: #F4EBE0;
  text-align: center;
  color: #241C1C;
  overflow: visible;
  font-family: "Renner";
}

iframe {
  width: 100%;
  height: 20em;
  border: none;
}

p {
  font-size: 1.1em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.8em;
}

.Red {
  color: #800000;
}

.Grey {
  text-align: center;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:hover span{
  color: #800000;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#head {
  text-align: left;
  width: 50em;
  margin: 0 auto;
}

#title {
  margin-top: -2.5em;
  margin-bottom: -2.5em;
}

#menu {
  margin-bottom: 0;
}

#body {
  text-align: left;
  width: 50em;
  margin: 0 auto;
}

#tail {
  font-family: 'Rennermedium';
  color: #6C5353;
}

#tail p a:hover{
    color: #800000;
}

#tail a:link {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-weight: 200;
  font-family: "joneslight";
  color: #241C1C;
  font-size: 5em;
  margin-top: 0.6em;
  margin-bottom: -0.8em;
}

h2 {
  font-family: "joneslight";
  color: #6C5353;
  font-size: 1.31em;
}

h2 div {
  font-family: "jonesblack";
}

h2 a:hover {
  font-family: "jonesblack";
}

h2 span {
  font-family: "jonesblack";
}

img {
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.2s;
}

img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
}

h3 {
  font-family: "Renner";
  color: #241C1C;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
}

#Slideshow {
  margin-top: 1em;
  margin-bottom: 5em;
  position:relative;
  width:500px;
  height:332px;
}

#Slideshow img {
  position:absolute;
  left:0;
  top:0;
  width: 60em;
}

.picker {
  font-family: "jonesmedium";
  font-size: 1.1em;
  height: 1.7em;
  background-color: inherit;
  border: none;
  color: #6C5353;
}

.yourtexthere {
  font-size: 10em;
  width: 100%;
  background-color: inherit;
  border: none;
  color: #241C1C;
}

input.yourtexthere {
  text-align: center;
}

td {
  width: 8.333333333%;
}

input {
  border: 0;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#mc-embedded-subscribe {
  background-color: transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  font-family: "joneslight";
  color: #6C5353;
  font-size: 1.31em;
  }

#mc-embedded-subscribe:hover {
    font-family: "jonesblack";
  }


.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
