@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 6";
    src: url("Bodoni-06-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 06";
    src: url("Bodoni-06-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 11";
    src: url("Bodoni-11-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 16";
    src: url("Bodoni-16-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 24";
    src: url("Bodoni-24-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 36";
    src: url("Bodoni-36-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 48";
    src: url("Bodoni-48-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("Bodoni-72-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Book-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Fatface.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bodoni 96";
    src: url("Bodoni-96-Fatface-Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
